@font-face {
  font-family: "Lucida Sans Unicode";
  font-weight: normal;
  font-style: normal;

  src: url("../subset-LucidaSansUnicode.eot");
  src: url("../fonts/subset-LucidaSansUnicode.eot?#iefix") format("embedded-opentype"),
    url("../fonts/subset-LucidaSansUnicode.woff2") format("woff2"),
    url("../fonts/subset-LucidaSansUnicode.woff") format("woff"),
    url("../fonts/subset-LucidaSansUnicode.ttf") format("truetype");
}

@font-face {
  font-family: "Lucida Sans Unicode";
  font-weight: bold;
  font-style: normal;

  src: url("../subset-LucidaSansUnicodeBold.eot");
  src: url("../fonts/subset-LucidaSansUnicodeBold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/subset-LucidaSansUnicodeBold.woff2") format("woff2"),
    url("../fonts/subset-LucidaSansUnicodeBold.woff") format("woff"),
    url("../fonts/subset-LucidaSansUnicodeBold.ttf") format("truetype");
}

body {
  font-family: "Lucida Sans Unicode", Arial, sans-serif;
  font-size: 13px;
  line-height: 25px;
}

.container {
  width: 909px;
  margin: 0 auto;
}

/*HEADER*/
.top-header {
  display: flex;

  margin-top: 18px;
}

.contacts {
  position: relative;
}

.contacts::before {
  position: absolute;
  top: 4px;
  left: 7px;

  width: 22px;
  height: 22px;

  content: "";

  border-radius: 11px;
  background-image: url(../img/sprites.png), linear-gradient(#0c3256, #114165, #206988);
  background-position: -114px -65px;
}

.contacts a {
  vertical-align: bottom;
  text-decoration: none;
  letter-spacing: 0.5px;

  color: #5e696d;

  font-family: Arial;
  font-size: 18px;
  line-height: 18px;
}

.contacts a:first-child {
  padding-left: 33px;
}

.user-block {
  position: relative;

  display: flex;

  width: 495px;
  height: 27px;
  margin-left: 15px;

  vertical-align: middle;

  border-radius: 3px;
  background: #b1bcc0 linear-gradient(#206988, #0c3256);
  box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);
}

.user-block::before {
  position: absolute;

  width: 14px;
  height: 18px;
  margin: 4px 0 0 7px;

  content: "";

  background: url(../img/sprites.png);
  background-position: -18px -16px;
}

.user-block input {
  box-sizing: border-box;
  width: 115px;
  height: 16px;
  padding-left: 4px;

  border: 1px solid #9ba1a3;

  font-family: "Lucida Sans Unicode";
  font-size: 11px;
}

.user-block input:first-child {
  margin-left: 24px;
}

.user-block input:nth-child(2) {
  margin-left: 2px;
}

.user-block [type="submit"] {
  width: 37px;
  padding-left: 2px;

  color: #ffffff;
  border: none;
  background: none;
}

.user-block a {
  text-decoration: none;

  color: #ffffff;

  font-size: 11px;
}

.user-block a:last-child {
  padding-left: 18px;

  text-decoration: underline;

  color: #bfbfbf;

  font-size: 12px;
}

.mini-navigation {
  width: 75px;
  height: 20px;
  margin-top: 1px;
  margin-left: 17px;

  border: 1px solid #bdc4c7;
  border-radius: 10px;

  font-size: 0;
}

.mini-navigation a {
  display: inline-block;

  margin-left: 8px;

  vertical-align: top;
}

.mini-navigation a:first-child {
  width: 12px;
	height: 11px;
  margin-top: 2px;

  background: url(../img/sprites.png) no-repeat;
  background-position: -68px -19px;
}

.mini-navigation a:nth-child(2) {
  width: 14px;
	height: 10px;
  margin-top: 3px;

  background: url(../img/sprites.png) no-repeat;
  background-position: -68px -69px;
}

.mini-navigation a:nth-child(3) {
  width: 12px;
	height: 9px;
  margin-top: 4px;

  background: url(../img/sprites.png);
  background-position: -69px -118px;
}

.banner {
  width: 909px;
  height: 237px;
  margin-top: 10px;

  background: url("../img/banner.jpg") no-repeat;
}

.banner a {
  display: block;

  padding: 50px 0 0 2px;
}

/*main-navigation*/
.main-navigation {
  display: flex;

  margin-top: 5px;

  color: #8a9296;
  border: 1px solid #0d1642;
  border-radius: 4px;
  background-image: linear-gradient(#576068, #2a2e32, #191b1e, #000000);
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.75);

  justify-content: space-between;
}

.main-navigation ul {
  margin-left: 127px;

  font-size: 0;
}

.main-navigation li {
  display: inline-block;

  vertical-align: middle;

  font-size: 14px;
  line-height: 25px;
}

.main-navigation a {
  display: block;

  padding: 4px 16px;

  text-decoration: none;
  text-transform: uppercase;

  color: inherit;
}

.main-navigation ul a:hover {
  height: 24px;
  padding: 0 16px;

  color: #ffffff;
  border-radius: 20px;
  background-image: linear-gradient(#206988, #114165, #0c3256);
}

.basket a {
  display: inline-block;

  width: 21px;
  height: 17px;
  padding: 0 1px 0 0;

  vertical-align: middle;

  background: url("../img/sprites.png") no-repeat;
  background-position: -114px -16px;

  font-size: 0;
}

.basket p {
  display: inline-block;

  padding: 3px 14px 0 9px;

  vertical-align: middle;

  font-family: Arial;
  font-size: 11px;
}

.basket span {
  color: #0d5a8f;

  font-size: 12px;
}

.basket .sum {
  padding-right: 15px;
}

.basket .total-sum {
  padding-left: 10px;
}

/*MAIN*/
.search {
  min-height: 133px;  margin-top: 10px;
  margin-bottom: 16px;
}

/*forms*/
.search {
  display: flex;

  justify-content: space-between;
}

.select {
  font-family: "Lucida Sans Unicode";
  font-size: 12px;
  line-height: 12px;
}

.select fieldset {
  height: 133px;

  border: 1px solid #9c9c9d;
  border-radius: 17px;
  box-shadow: 3px 4px 5px rgba(150, 150, 150, 0.75);
}

.select b {
  color: #114165;

  font-family: Arial;
  font-weight: 900;
  line-height: 20px;
}

.select select {
  height: 17px;

  box-shadow: inset 1px 1px 5px rgba(0, 0, 0, 0.75);

  font-size: 11px;
}

.select .report {
  text-decoration: underline;

  border: none;
  background: none;

  font-family: Arial;
  font-size: 14px;
  font-style: italic;
  line-height: 14px;
}

.select label {
  font-size: 10px;
}

.all {
  width: 415px;
}

.all b {
  float: left;

  font-size: 10px;
  line-height: 12px;
}

.all .search-title {
  width: 415px;
  margin-bottom: 3px;

  text-align: center;

  font-size: 12px;
}

.all .disks {
  float: left;

  width: 178px;
  margin-left: 15px;
}

.all .tire {
  float: left;

  width: 178px;  margin-left: 25px;
}

.all select {
  width: 100px;
}

.all #year1,
.all #year2 {
  width: 50px;
}

.all li {
  clear: both;

  text-align: left;
}

.all label {
  float: left;

  width: 75px;

  line-height: 10px;
}

.all .report {
  float: right;

  margin-top: 5px;
}

.all li:first-child {
  margin-bottom: 3px;
}

.all span {
  color: #77858b;

  font-size: 9px;
  line-height: 9px;
}

.bus {
  width: 193px;
}

.bus select {
  width: 50px;
}

.bus b {
  margin-left: 11px;
}

.bus li:first-child {
  margin-bottom: 5px;  margin-left: 14px;}

.bus li:nth-child(2) {
  margin-bottom: 5px;  margin-left: 45px;
}

.bus li:nth-child(3) {
  margin-left: 15px;
}

.bus li:nth-child(4),
.bus li:nth-child(5) {
  margin-left: 50px;
}

.bus li:last-child {
  margin-right: 20px;

  text-align: right;
}

[type="radio"] {
  margin: 2px 0 0 6px;

  vertical-align: middle;
}

.dial {
  width: 268px;
}

.dial b {
  position: absolute;

  margin-left: 11px;
}

.dial .dial-left {
  float: left;

  width: 150px;
  margin-top: 22px;
  margin-left: 15px;
}

.dial .dial-right {
  float: left;

  width: 78px;
  margin-top: 5px;
  padding-left: 10px;

  border-left: 1px solid #9c9c9d;
}

.dial select {
  width: 57px;
}

.dial-left li {
  clear: both;

  text-align: left;
}

.dial label {
  line-height: 10px;
}

.dial-left label {
  float: left;

  width: 70px;
  padding-right: 5px;
}

.dial-right label {
  display: block;

  width: 65px;
  margin: 2px 0;
}

.dial .report {
  float: right;

  margin-top: 3px;
}

.dial-left li:first-child {
  margin-bottom: 15px;
}

.dial span {
  color: #77858b;

  font-size: 9px;
  line-height: 9px;
}

/*aside*/
.catalog {
  float: left;

  width: 183px;
  margin-right: 9px;
}

.title {
  position: relative;

  margin-bottom: 12px;
  padding: 1px 0 1px 30px;

  text-transform: uppercase;

  color: #114165;
  border: 1px solid #79878d;
  border-radius: 14px;
  box-shadow: 2px 3px 3px rgba(150, 150, 150, 0.75);

  font-size: 14px;
}

.catalog .title {
  margin-top: 3px;
  padding-left: 27px;

  font-size: 13px;
}

.title::before {
  position: absolute;
  top: 3px;
  left: 4px;

  display: block;

  width: 20px;
  height: 20px;

  content: "";

  border-radius: 10px;
  background-image: url(../img/sprites.png), linear-gradient(#0c3256, #114165, #206988);
  background-position: -15px -64px;
}

.subtitle::before {
  position: absolute;
  top: 2px;
  left: 4px;

  display: block;

  width: 11px;
  height: 11px;

  content: "";

  border: 6px solid #0c3256;
  border-radius: 50%;
  background: #ffffff;
}

.subtitle {
  box-shadow: none;
}

.catalog .subtitle {
  display: block;

  width: 124px;  margin: 0;

  font-size: 14px;
}

.catalog li > ul {
  margin-left: 52px;

  list-style: circle;
}

.catalog a {
  text-decoration: none;

  color: #465961;
}

.catalog a:hover {
  text-decoration: underline;

  color: #0c3256;

  font-family: Arial;
  font-size: 14px;
  font-weight: 700;
  font-style: italic;
}

.brands {
  float: right;

  width: 183px;
}

.brands .title {
  margin-top: 2px;
}

.brands .subtitle {
  width: 104px;
  margin: 2px 0 11px 14px;
}

.brands label {
  padding-left: 9px;

  vertical-align: top;

  line-height: 13px;
}

.brands input {
  display: inline-block;

  margin: 0 0 0 25px;

  vertical-align: top;
}

.brands .btn {
  width: 82px;
  height: 26px;
  margin-top: 10px;

  letter-spacing: 1.5px;

  color: #e5e9ea;
  border: 1px solid #a7abae;
  border-radius: 9px;
  background: #0c3256 linear-gradient(#206988, #114165, #0c3256);

  font-family: Arial;
  font-size: 11px;
}

/*block with figures*/
.items {
  float: left;

  width: 526px;
  min-height: 627px;
  margin-bottom: 42px;

  border-radius: 2px;
  background-image: linear-gradient(rgba(201, 207, 209, 0.49), rgba(35, 75, 93, 0.49));

  font-size: 0;
}

.goods {
  display: inline-block;

  margin: 17px 6px 12px 23px;

  text-align: center;
  vertical-align: top;

  color: #1f2528;

  font-size: 13px;
  line-height: 13px;
}

.goods .name {
  color: #206988;

  font-size: 15px;
  font-weight: bold;
}

.goods .price {
  color: #114165;

  font-family: Arial;
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
}

.price span {
  font-size: 12px;
}

.goods a{
  position: relative;

  display: block;

  width: 136px;
  height: 127px;
  margin-bottom: 5px;

  border: 1px solid #a4aeb1;
  border-radius: 7px;
  background-color: #ffffff;
}

.goods img {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  margin: auto;
}

.brandlogo {
  clear: both;

  margin-bottom: 13px;

  text-align: center;
}

.brandlogo li {
  display: inline-block;

  margin-right: 10px;

  vertical-align: top;
}

/*FOOTER*/
footer {
  min-height: 100px;

  text-align: center;

  color: #7f4740;
  border: 1px solid #242a3c;
  background-color: #213a4d;

  font-family: Arial;
}

.footer-navigation ul {
  font-size: 0;
}

.footer-navigation li {
  display: inline-block;

  vertical-align: top;

  font-size: 12px;
  line-height: 16px;
}

.footer-navigation a {
  display: block;

  padding: 9px 4px 6px 4px;

  text-decoration: none;

  color: #bec6c9;
}

.footer-navigation .after::after {
  margin-left: 12px;

  content: "|";

  color: #bec6c9;

  font-weight: 900;
}

.footer-navigation a:hover {
  color: #52abcb;
}

.copyright {
  font-size: 10px;
}

.copyright a {
  text-decoration: none;

  color: inherit;
}
